<div

  (click)="newPost()"
  class="bg-white hover:bg-green-50 cursor-pointer rounded-2xl shadow-md mb-3 flex flex-wrap p-2 justify-between"
>
  <h1 class="overflow-hidden font-medium text-base sm:text-base md:text-xl lg:text-lg">
    Agregar publicacion
  </h1>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
  >
    <path
      fill="none"
      stroke="#0b0909"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1.1"
      d="M8 12h4m4 0h-4m0 0V8m0 4v4m0 6c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10"
    />
  </svg>
</div>
